<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FedS</display-name>
  <welcome-file-list>
    <welcome-file>firstPage.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>clientServlet.SessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminPrivilegeFilter</filter-name>
    <filter-class>filter.AdminPrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminPrivilegeFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>clientServlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/clientServlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>clientServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/clientServlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>clientServlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActiveUserServlet</servlet-name>
    <servlet-class>clientServlet.ActiveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveUserServlet</servlet-name>
    <url-pattern>/activeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllUser</display-name>
    <servlet-name>FindAllUser</servlet-name>
    <servlet-class>clientServlet.FindAllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllUser</servlet-name>
    <url-pattern>/FindAllUser</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ChangeServlet</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>clientServlet.ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserinfoupdateServlet</display-name>
    <servlet-name>UserinfoupdateServlet</servlet-name>
    <servlet-class>admiServlet.UserinfoupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserinfoupdateServlet</servlet-name>
    <url-pattern>/UserinfoupdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserinfoselectServlet</display-name>
    <servlet-name>UserinfoselectServlet</servlet-name>
    <servlet-class>admiServlet.UserinfoselectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserinfoselectServlet</servlet-name>
    <url-pattern>/UserinfoselectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindmyinfoServlet</display-name>
    <servlet-name>FindmyinfoServlet</servlet-name>
    <servlet-class>admiServlet.FindmyinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindmyinfoServlet</servlet-name>
    <url-pattern>/FindmyinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyinfoupdateServlet</display-name>
    <servlet-name>MyinfoupdateServlet</servlet-name>
    <servlet-class>admiServlet.MyinfoupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyinfoupdateServlet</servlet-name>
    <url-pattern>/MyinfoupdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cFindmyinfoServlet</display-name>
    <servlet-name>cFindmyinfoServlet</servlet-name>
    <servlet-class>clientServlet.cFindmyinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cFindmyinfoServlet</servlet-name>
    <url-pattern>/cFindmyinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cMyinfoupdateServlet</display-name>
    <servlet-name>cMyinfoupdateServlet</servlet-name>
    <servlet-class>clientServlet.cMyinfoupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cMyinfoupdateServlet</servlet-name>
    <url-pattern>/cMyinfoupdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserinfoinsertServlet</display-name>
    <servlet-name>UserinfoinsertServlet</servlet-name>
    <servlet-class>admiServlet.UserinfoinsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserinfoinsertServlet</servlet-name>
    <url-pattern>/UserinfoinsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetpwdServlet</display-name>
    <servlet-name>ResetpwdServlet</servlet-name>
    <servlet-class>clientServlet.ResetpwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetpwdServlet</servlet-name>
    <url-pattern>/ResetpwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetsuccessServlet</display-name>
    <servlet-name>ResetsuccessServlet</servlet-name>
    <servlet-class>clientServlet.ResetsuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetsuccessServlet</servlet-name>
    <url-pattern>/ResetsuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cChangeServlet</display-name>
    <servlet-name>cChangeServlet</servlet-name>
    <servlet-class>admiServlet.cChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cChangeServlet</servlet-name>
    <url-pattern>/cChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>querylogServelet</display-name>
    <servlet-name>querylogServelet</servlet-name>
    <servlet-class>clientServlet.querylogServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>querylogServelet</servlet-name>
    <url-pattern>/querylogServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adquerylogServlet</display-name>
    <servlet-name>adquerylogServlet</servlet-name>
    <servlet-class>admiServlet.adquerylogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adquerylogServlet</servlet-name>
    <url-pattern>/adquerylogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdquerylogServlet</display-name>
    <servlet-name>AdquerylogServlet</servlet-name>
    <servlet-class>admiServlet.AdquerylogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdquerylogServlet</servlet-name>
    <url-pattern>/AdquerylogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogServlet</display-name>
    <servlet-name>AdminLogServlet</servlet-name>
    <servlet-class>admiServlet.AdminLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogServlet</servlet-name>
    <url-pattern>/AdminLogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientLogServlet</display-name>
    <servlet-name>ClientLogServlet</servlet-name>
    <servlet-class>clientServlet.ClientLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientLogServlet</servlet-name>
    <url-pattern>/ClientLogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminKeyServlet</display-name>
    <servlet-name>AdminKeyServlet</servlet-name>
    <servlet-class>admiServlet.AdminKeyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminKeyServlet</servlet-name>
    <url-pattern>/AdminKeyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>clientServlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdSearchServlet</display-name>
    <servlet-name>AdSearchServlet</servlet-name>
    <servlet-class>admiServlet.AdSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdSearchServlet</servlet-name>
    <url-pattern>/AdSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonKeyServlet</display-name>
    <servlet-name>CommonKeyServlet</servlet-name>
    <servlet-class>clientServlet.CommonKeyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonKeyServlet</servlet-name>
    <url-pattern>/CommonKeyServlet</url-pattern>
  </servlet-mapping>
</web-app>